<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/" class="logo"><img src="/images/washing-machine.png" alt="Washing Machine Logo"></a>
        </div>
        <div class="nav-right">
                <a href="/register">Register</a>          
        </div>
    </nav>
    <div class="container">
        <h1>Login</h1>
        <!-- Display message if provided -->
        <% if (message) { %>
            <p class="error-message"><%= message %></p>
        <% } %>
        <form action="/login" method="POST">
            <label>Email:</label>
            <input type="email" name="email" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <div class="forgot-password">
            <a href="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</body>
</html>
