<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form action="/reset-password" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="hidden" name="code" value="<%= code %>">
            
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
